<div class="data-form">
    <div class="col 6">
        <h1>Edit User Info!</h1>
        <form class="form-signin" method="POST" action="<%=`/users/${user._id}/update?_method=PUT`%>">
            <label for="name">Name</label>
                <input type="text" name="name" id="inputName" value="<%= user.name %>" placeholder="Name" autofocus>
            <label for="gender">Gender</label>
                <input type="text" name="gender" id="inputGender" value="<%= user.gender %>" placeholder="Gender" autofocus>
            <input type="submit" value="Update">
        </form>
    </div>
</div>