<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>EJS is Fun!</title>
	<link rel="stylesheet" href="/css/bootstrap.css">
	<link rel="stylesheet" href="/css/confetti_cuisine.css">
</head>

<body>
	<div id="nav">
		<div class="col-6 center">
			<a href="/"><span class="button">Home</span></a>
			<a href="/users"><span class="button">User List</span></a>
			<a href="/users/new"><span class="button">Add a User</span></a>
		</div>
		<div class="col-6 center">
			<h1>EJS is Fun!</h1>
		</div>
	</div>
	

	<%- body %>

	<div id="footer">FOOTER</div>

</body>

</html>